* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
}

fieldset {
    border: none;
}

input[type="text"] {
    width: 50%;
    height: 2.2rem;
}

textarea {
    width: 50%;
    height: 4rem;
}

