* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

.nav-container {
background: #282826;
height: 60px;
}

.header-text {
  color: white;
  padding: 15px;
}

.icon {
  position: fixed;
  top: 0;
  right: 0;
  height: 45px;
  margin: 7px 10px;
}

.start-button {
  background: red;
  color: white;
  font-size: 30px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  width: 260px;
}

.start-button:hover {
  border: 10px solid red;
}

.zen-text-container {
  height: 100vh;
  width: 100vw;
  background: #5A5AFF;
}

.zen-message {
  color: white;
  font-size: 20px;
  width: 80%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.giphy-embed {
  margin: 0 auto;
  display: block;
}

.rageForm {
  max-width: 600px;
  margin: auto;
  margin-top: 60px;
}
